<div class="topbar-container">
    <div class="flex flex-row">
        <div class="brand">
            <app-svg-icon name="menu" [width]="24" [height]="24"></app-svg-icon>
            <a routerLink="/">
                <app-svg-icon class="hidden xl:block" name="jira" [width]="134" [height]="24"></app-svg-icon>
                <app-svg-icon class="block xl:hidden" name="jiraIcon" [width]="24" [height]="24"></app-svg-icon>
            </a>
        </div>

        <div class="menu">
            <div class="menu-item" *ngFor="let item of displayTopbarMenuItems" [ngClass]="{'active': item.selected}">
                <button nz-dropdown nzTrigger="click">
                    {{item.name}}
                    <app-svg-icon name="arrowDown" [width]="24" [height]="24"></app-svg-icon>
                </button>
            </div>
        </div>
    </div>
</div>
