<div class="font-medium text-textDark">Activity</div>
<div class="flex items-center justify-between">
    <div class="flex items-center">
        <div class="mr-4">Show:</div>
        <div class="flex gap-2">
            <button class="raise-button raise-button-sm font-medium text-textDark leading-5">All</button>
            <button class="raise-button raise-button-sm font-medium text-textDark leading-5">Comment</button>
            <button class="raise-button raise-button-sm font-medium text-textDark leading-5">History</button>
            <button class="raise-button raise-button-sm font-medium text-textDark leading-5">Work log</button>
        </div>
    </div>

    <button class="square-button flex items-center px-2 gap-1 font-medium text-textDark">
        <div>Newest first</div>
        <app-svg-icon name="descending"></app-svg-icon>
    </button>
</div>

<div class="activity-container">
    <app-comment-list 
        [comments]="comments$ | async"
        [currentUser]="currentUser$ | async"
        (addComment)="onAddcomment($event)">
    </app-comment-list>
</div>
